.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: #f5f5f5;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .attribute {
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .value {
    font-size: 1.5em;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align the buttons */
    margin-top: 10px;
  }
  
  
  /* Add spacing to buttons and center align them */
  button {
    background-color: #609dde;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px; /* Increased padding for spacing */
    cursor: pointer;
    font-size: 1em;
    margin: 0 5px; /* Add spacing between buttons */
  }

  