<div class="card">
  <div class="info">
    <div class="attribute">Product Name:</div>
    <div class="value">{{ productName }}</div>
  </div>

  <div class="info">
    <div class="attribute">ID:</div>
    <div class="value">{{ productId }}</div>
  </div>

  <div class="info">
    <div class="attribute">Price:</div>
    <div class="value">{{ price | currency }}</div>
  </div>

  <div class="info">
    <div class="attribute">Unit:</div>
    <div class="value">{{ unit }}</div>
  </div>

  <div class="info">
    <div class="attribute">Available Amount:</div>
    <div class="value">{{ availableAmount }}</div>
  </div>

  <div class="info1">
    <div class="value">
        <div class="quantity-controls">
            <button (click)="decrementQuantity()">-</button>
            <span>{{ quantity }}</span>
            <button (click)="incrementQuantity()">+</button>
            <button (click)="addToCart()">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
