/* add-product.component.css */

/* Styling the form container */
.form-container {
    
    max-width: 500px;
    margin: 0 auto;
    background-color:tra;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Styling form labels */
  .form-group label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
    font-size: 20px; /* Increase font size for labels */
  }
  
  /* Styling form inputs */
  .form-control {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px; /* Increase font size for input fields */
  }
  
  .form-control:focus {
    border-color: #007bff;
    outline: none;
  }
  .form-control[type="number"] {
   
    appearance: textfield;
    font-size: 18px; /* Increase font size for number input */
  }
  
  
  /* Styling the Add Product button */
  .add-product-button {
    background-color: #3498db;
    color: white;
    padding: 15px 30px; /* Increase font size for button text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px; /* Increase font size for button text */
    margin-top: 20px;
  }
  
  .add-product-button:hover {
    background-color: #0056b3;
  }
  
  /* Optional: Add styling for error messages */
  .error-message {
    color: red;
    font-size: 16px; /* Increase font size for error messages */
    margin-top: 10px; /* Increase margin for error messages */
  }
  