.navbar {
    background-color: #3498db; /* A shade of blue */
    padding: 10px;
    font-family: "Georgia", serif; /* A classic serif font */
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 20px;
    transition: all 0.3s;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff; /* White text color for contrast */
    font-size: 20px;
    padding: 10px;
    transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .navbar a:hover {
    color: #0b0b0b; /* A shade of orange for contrast on hover */
    transition: color 0.3s;
  }
  
  .active {
    background-color: #2980b9; /* A slightly darker shade of blue for the active link */
    color: #fff;
    border-radius: 5px;
  }
  