<div class="dashboard">
    <app-card
      *ngFor="let product of products | slice:(currentPage - 1) * itemsPerPage:currentPage * itemsPerPage"
      [productName]="product.name"
      [productId]="product.id"
      [price]="product.price"
      [unit]="product.unit"
      [availableAmount]="product.availableAmount"
      [isDashboardCard]="true"
    ></app-card>
  </div>
  <app-pagination [itemsPerPage]="itemsPerPage" [totalItems]="products.length" (pageChange)="onPageChange($event)"></app-pagination>
  